//fonts

$main_font: "Montserrat", sans-serif;

//colors

$green: #047a8f;
$pink: #610088;
$yellow: #a89f18;
$purple: #35048f;
$white: #f1f7f8;
$black: #000a0c;

//media queries

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
