@use "base/variables" as v;
@use "base/mixins" as m;

.festival {
  padding: 6rem 0;
  @include m.tablet {
    @include m.grid(2, 3rem);
  }
}

.content-festival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  @include m.tablet {
    margin-top: 0;
  }
  h2 {
    margin-bottom: 1rem;
  }

  .date {
    color: v.$pink;
    font-weight: 700;
    margin-bottom: 0;
  }
}
