@use "base/mixins" as m;
@use "base/variables" as v;

.footer {
  background-color: v.$pink;
  padding: 1rem;
  p {
    text-align: center;
    font-weight: 700;
    color: v.$white;
    margin: 0;
  }
}
